.root {
  .menu,
  .content {
    min-height: 100vh;
    background-color: rgb(240, 242, 245);
  }
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    z-index: 1;
  }
  .content {
    margin-left: 200px;
  }
}
